<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AwesomeWatches</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AwesomeWatches.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body class="#f9fbe7 lime lighten-5">
    <nav>
        <div class="nav-wrapper #f0f4c3 lime lighten-4">
            <div>
                <partial name="_LoginPartial"></partial>
            </div>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><span class="#827717-text lime-text text-darken-4">Hello, Folan</span></li>
                <li><a class="#827717-text lime-text text-darken-4" href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><span class="">Hello, Folan</span></li>
        <li><a href="#">Logout</a></li>
    </ul>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="page-footer #9e9d24 lime darken-3">
        <div class="footer-copyright">
            <div class="container">
                © 2021 AwesomeWatches
                @*                <a class="grey-text text-lighten-4 right" href="#!">Jamal says Hi</a>
                *@
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>