@page
@model AwesomeWatches.Pages.Admin.AddCategoryModel
@{
    ViewData["Title"] = "Add Category";
}

<form class="container add-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="input-field col s12">
            <input asp-for="Category.Name" class="validate inp">
            <label asp-for="Category.Name" class="lime-text text-darken-2"></label>
            <span asp-validation-for="Category.Name" class="helper-text #e53935 red-text text-darken-1"></span>
        </div>
    </div>
</form>