html {
    font-size: 14px;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container {
    margin-bottom: auto !important;
}

.logo-img {
    height: 100%;
}

.fa-shopping-cart {
    font-size: 1.25rem;
}

.cart-container label {
    line-height: normal;
}

.cart-container i {
    line-height: normal !important;
    height: auto !important;
}

.cart-container {
    display: flex;
    flex-direction: column;
    height: 64px;
    justify-content: center;
    align-items: center;
}

.cart-container-sm {
    display: inline-flex;
    vertical-align: middle;
    height: auto;
}


.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.page-footer {
    padding-top: 0px !important;
}

/*Card*/
.card {
    max-width: 200px;
}

.card-content p {
    padding-inline: 0.5em;
}

.card-content {
    padding:0 !important;
    padding-inline: 0 !important;
    padding-block:24px !important;
}


.card-image img {
    max-width: 200px;
}

.card-image {
    background-color: darkgray;
    height: 275px;
    display: flex;
    align-items: center;
}


/* Details Page */

.product-details {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.details-header{
    font-weight: 600 !important;
}

span {
    font-weight: lighter;
}

.container-details img {
    border: 0.5px solid black;
    border-radius: 10px;
    height: 300px;
    max-width: 250px;
}

.container-details {
    padding: 2em;
    border: 2px solid #6b6f00;
    border-radius: 10px;
    margin-block: 1em !important;
    height: 100%;
    width: 100% !important;
}

.categories h6, p {
    padding-left: 1em;
}

.categories p {
    margin: 0;
}

.add-form {
    padding-top: 1em;
}

.btn-container {
    text-align: center;
}

label > span {
    font-weight: bold;
}

.file-path::placeholder {
    color: #424242;
}

/* label color */
.add-form .input-field label {
    color: #afb42b;
}
/* label focus color */
.add-form .input-field .inp:focus + label {
    color: #afb42b;
}
/* label underline focus color */
.add-form .input-field .inp:focus {
    border-bottom: 1px solid #afb42b !important;
    box-shadow: 0 1px 0 0 #afb42b !important;
}
/* valid color */
.add-form .input-field .inp.valid {
    border-bottom: 1px solid #afb42b !important;
    box-shadow: 0 1px 0 0 #afb42b !important;
}
/* invalid color */
.add-form .input-field .inp.invalid {
    border-bottom: 1px solid #afb42b !important;
    box-shadow: 0 1px 0 0 #afb42b !important;
}
/* icon prefix focus color */
.add-form .input-field .prefix.active {
    color: #afb42b;
}

@media (max-width: 700px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-details .img-container {
        text-align: center;
    }

    .product-details {
        flex-direction: column;
    }

    .container-details {
        padding: 0.5em;
    }
}

@media (max-width: 500px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
